@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-hsl: 213 31% 91%;
    --background-start-hsl: 224 71% 4%;
    --background-middle-hsl: 224 71% 4%;
    --background-end-hsl: 224 71% 4%;

    /* Black and White Theme */
    /* --foreground-rgb: 237, 237, 237; */
    /* -background-start-rgb: 0, 0, 0; */
    /* -background-middle-rgb: 0, 0, 0; */
    /* -background-end-rgb: 0, 0, 0; */

    /* Grey and Light-white Theme */
    /* --foreground-rgb: 229, 229, 229; */
    /* --background-start-rgb: 26, 26, 26; */
    /* --background-middle-rgb: 23, 23, 23; */
    /* --background-end-rgb: 20, 20, 20; */
}

html,
body {
    height: 100%;
}

body {
    color: hsl(var(--foreground-hsl));
    background: hsl(var(--background-start-hsl));
    background: linear-gradient(
        to bottom,
        hsl(var(--background-start-hsl)),
        hsl(var(--background-middle-hsl)),
        hsl(var(--background-end-hsl))
    );
}

/* Default HTML tags values */

.parsedown h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.parsedown h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 1.25em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* maring-top: 1em (default) */
.parsedown h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.parsedown p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.parsedown ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.parsedown ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.parsedown a:link, a:visited { 
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

.parsedown a:link:active, a:visited:active { 
    color: (internal value);
}

.parsedown pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.parsedown code {
    font-family: monospace;
}

.parsedown blockquote {
  display: block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 40px;
  padding-right: 40px;
  color: gray;
  border-left: 2px solid gray;
  font-style: italic;
}
