@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 237, 237, 237;
    --background-start-rgb: 0, 0, 0;
    --background-middle-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* Grey and light wihte theme */
    /* --foreground-rgb: 229, 229, 229; */
    /* --background-start-rgb: 26, 26, 26; */
    /* --background-middle-rgb: 23, 23, 23; */
    /* --background-end-rgb: 20, 20, 20; */
}

html,
body {
    height: 100%;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    background: linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-middle-rgb)),
        rgb(var(--background-end-rgb))
    );
}
